################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/wwwroot/books/pdf
/BookStore/wwwroot/books/gallery
/BookStore/wwwroot/books/cover
