<footer class="border-top footer text-muted text-center" style="position: sticky; bottom: 0;background-color:lightblue">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year <a href="https://yogiTech.com/"> YogiTech.com</a>
        <custom-email></custom-email>
    </div>
</footer>
